
@model IEnumerable<StudentEnrollment.Models.CourseHistory>

<h2>Course History</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CourseCode)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Action)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ActionDate)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UserId)</th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var history in Model)
        {
<tr>
    <td>@Html.DisplayFor(modelItem => history.CourseCode)</td>
    <td>@Html.DisplayFor(modelItem => history.CourseName)</td>
    <td>@Html.DisplayFor(modelItem => history.Description)</td>
    <td>@Html.DisplayFor(modelItem => history.Action)</td>
    <td>@Html.DisplayFor(modelItem => history.ActionDate)</td>
    <td>@Html.DisplayFor(modelItem => history.UserId)</td>
</tr> }
  }
            else
            {
<tr>
    <td colspan="6" style="text-align:center;">No course histories available.</td>
</tr>}
</table>