@model StudentEnrollment.Models.CourseManagementViewModel

@{
    ViewBag.Title = "Course Management";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- Courses Table -->
<h2>Courses</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.FirstOrDefault().IsActive)
        </th>
    </tr>

    @if (Model.Courses != null && Model.Courses.Any())
    {
        foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentID)
                </td>
                <td>
                    @(item.IsActive ? "ACTIVE" : "DISABLE")
                </td>
                <td>
                    @Html.ActionLink("View History", "Edit", new { id = item.CourseId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;">No courses available.</td>
        </tr>
    }
</table>

<!-- Include CourseHistory Partial View -->
@Html.Partial("_CourseHistory", Model.CourseHistory)
